[submodule "src/rosjava_build_tools"]
	path = src/rosjava_build_tools
	url = https://github.com/rosjava/rosjava_build_tools
[submodule "src/rosjava_bootstrap"]
	path = src/rosjava_bootstrap
	url = https://github.com/rosjava/rosjava_bootstrap