/build/
/devel/
/install/
/docs/html/
/docs/latex/
/src/crates_msgs/*gradle
/src/crates_msgs/*/build/
/src/CMakeLists.txt
/thirdparty/gpstk*
/thirdparty/gazebo*
/thirdparty/sdformat*
/.catkin_workspace
