<!-- This launch file spawns a user interface -->
<launch>

  <!-- start gazebo server-->
  <node name="client" pkg="sim" type="client" respawn="false" args="-g libsim_resources.so" output="screen">
  	<env name="GEOGRAPHICLIB_DATA" value="$(find sim)/resources/gis"/>
    <env name="GAZEBO_MODEL_DATABASE_URI" value=""/>
    <env name="GAZEBO_MODEL_PATH" value="/usr/share/models:$(find sim)/models"/>
    <env name="GAZEBO_RESOURCE_PATH" value="/usr/local/share/gazebo-3.0:$(find sim)/resources"/>
    <env name="OGRE_RESOURCE_PATH" value="/usr/lib/x86_64-linux-gnu/OGRE-1.8.0"/>
  </node>

</launch>